# See https://help.github.com/ignore-files/ for more about ignoring files.

# Expo
.expo/

# Dependencies
node_modules/

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vim swap files
*.swp

.DS_Store

# Java build artifacts
*.class

# React native bundle
android/app/src/main/assets/index.android*
android/build
android/app/build
android/.gradle

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IJ
*.iml
.idea
.gradle
local.properties

# Binary intermediary artifacts
*.o
*.a
*.so

*.obj
*.lib
*.dll
